<div class="dropdown">
  <button class="dropbtn">Find A Pet</button>
  <div class="dropdown-content" ng-model="petTypes">
    <p ng-repeat="pets in petTypes" ng-click="petLog()">{{petTypes[$index].petName}}</p>
  </div>
</div>

<div class="petContainer">
  <h2 class="petName">Name: {{returnedPet.name.$t}}</h2>
  <button class="favButton" ng-click="addFavorite()">Add Favorite</button>
  <img ng-src="{{returnedPet.media.photos.photo[2].$t}}" />
  <p class="petDescription">
    Description: {{returnedPet.description.$t}}
  </p>
</div>
